* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf

*.c text eol=lf
*.h text eol=lf
*.md text eol=lf
*.syscfg text eol=lf
*.project text eol=lf
*.cproject text eol=lf
*.ccsproject text eol=lf
*.prefs text eol=lf
*.ccxml text eol=lf
